body{
    text-align: center;
        background: linear-gradient(#32a7e6 0%, #e6a2e8 100%);
}
#album{
    width:350px;
    margin-top:100px; 
}
.line{
    width:100px;
    height:5px;
    background-color:black;
    margin:auto;
    
}
.menu{
   list-style: none;
    position: fixed;
    width:100%; 
}
.links{
    color:#FFFF;
    display:inline;
    font-size:30px; 
    padding-left:50px;
    font-weight:700; 
}
a{
    color: aliceblue;
}
#google{
    font-size:50px; 
}
#contact iframe{
    width:100%; 
}
#contact h4{
    display:inline; 
}
#google h1{
    margin-bottom:3px; 
}

    